<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Fc&Fc</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/bootstrap.min.css">
        <link rel="stylesheet" href="static/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/fontAwesome.css">
        <link rel="stylesheet" href="static/hero-slider.css">
        <link rel="stylesheet" href="static/owl-carousel.css">
        <link rel="stylesheet" href="static/style.css">

        <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

<body>
 
    <div class="wrap">
        <header id="header">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <button id="primary-nav-button" type="button">Menu</button>
                  <a href="index.html"
                    ><div class="logo">
                      <img src="static/img/logo.png" alt="Venue Logo" /></div
                  ></a>
                  <nav id="primary-nav" class="dropdown cf">
                    <ul class="dropdown menu">
                      <li class="active"><a href="/">Home</a></li>
                      <li><a href="/cars">Cars</a></li>
                      <li><a href="/about-us">About Us</a></li>
                      <li><a class="nav-link" href="/contact">Contact Us</a></li>
                      {% if username %}
                      <li><a class="nav-link" href="/logout">Logout</a></li>
                      {% else %}
                      <li><a class="nav-link" href="/login">Login</a></li>
                      <li><a class="nav-link" href="/register">Register</a></li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
                {% endif %} {% if username %}
                <div class="user">Welcome, {{ username }}! Your role: {{ role }}</div>
                  {% else %}
                  <div class="user">Welcome to the website!</div>
                {% endif %}
          </header>
    </div>
      
    <section class="banner banner-secondary" id="top" style="background-image: url(static/img/banner-image-1-1920x300.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="banner-caption">
                        <div class="line-dec"></div>
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main>
        <section class="our-services">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="left-content">
                            <br>
                            <h4>About us</h4>
                            <p> If you're a car enthusiast who's into JDM, drift, or sports
                                cars, then you might want to check out a specialized car
                                company that sells these types of vehicles. These cars are
                                known for their unique designs, high-performance engines, and
                                exhilarating driving experiences. Whether you're looking for a
                                classic JDM car like a Nissan Skyline or a Toyota Supra, a
                                drift car like a Mazda RX-7 or a Nissan 240SX, or a sports car
                                like a Porsche 911 or a Chevrolet Corvette, this company has
                                got you covered. With their vast selection of cars, you can
                                find the car of your dreams and take it for a spin. Plus,
                                their knowledgeable staff can help you navigate the buying
                                process and answer any questions you may have about the cars.
                                So, if you're in the market for a JDM, drift, or sports car,
                                this company is definitely worth checking out..</p>

                            
                        </div>
                    </div>
                    <div class="col-md-5">
                        <img src="static/img/about-1-720x480.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section id="video-container">
            <div class="video-overlay"></div>
            <div class="video-content">
                <div class="inner">
                      <div class="section-heading">
                          <h2>Your dream car wait for you.</h2>
                      </div>
                      <!-- Modal button -->

                      <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <p class="lead">For many people, a car is not just a means of transportation to get from point A to point B. It's more than that - it's a friend. A car is a constant companion that takes you on adventures, whether it's a road trip across the country or just a quick trip to the grocery store. It's always there when you need it, ready to take you wherever you want to go. A car can also be a source of comfort, providing a sense of security and safety while driving. You can personalize it with your own style and taste, making it uniquely yours. And let's not forget about the memories that you create with your car - the long drives with friends or family, the first road trip, the first date. All of these experiences make your car more than just a machine, but a trusted friend that you can rely on. So next time you get behind the wheel of your car, take a moment to appreciate the bond that you share with it.</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div class="about-veno">
                <div class="logo">
                  <img src="static/img/footer_logo.png" alt="Venue Logo" />
                </div>
                <p>
                  Owning a car is not just about driving, it's about the
                  experiences and memories that are created along the way.
                </p>
                <ul class="social-icons">
                  <li>
                      
                    <a href="https://www.facebook.com/sasha.sergienko.944"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/sashasergienk9"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/sasha-sergienko-07b2a2246/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/goadventure___/"><i class="fa fa-instagram"></i></a>
                    
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-4">
              <div class="useful-links">
                <div class="footer-heading">
                  <h4>Useful Links</h4>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <ul>
                      <li>
                        <a href="/"><i class="fa fa-stop"></i>Home</a>
                      </li>
                      <li>
                        <a href="/about-us"><i class="fa fa-stop"></i>About</a>
                      </li>
                      <li>
                        <a href="/contact"><i class="fa fa-stop"></i>Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="contact-info">
                <div class="footer-heading">
                  <h4>Contact Information</h4>
                </div>
                <p>
                  <i class="fa fa-map-marker"></i> Cherkasy State Technological University
                </p>
                <ul>
                  <li><span>Phone:</span><a href="#">097 19 266 31</a></li>
                  <li><span>Email:</span><a href="#">sergiosasa9@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>

    <div class="sub-footer">
        <p>Copyright © Fc&Fc / Fast cars and Furiously cheap</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="/js/vendor/bootstrap.min.js"></script>
    
    <script src="/js/datepicker.js"></script>
    <script src="js/plugins.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>